.about__desc {
	user-select: none;
}

/* About__card */

.about_img {
	max-width: 255px;
	margin-bottom: 30px;
	border-radius: 20px;
}

.slider-container {
	width: 100%;
	height: 300px;
}



.experience__card {
	display: flex;
	background: #fbf8f4;
	padding: 30px 20px;
	border-radius: 20px;
	min-height: 300px;
}
