.avatar-wrapper {
	background: linear-gradient(138deg, #ff8660 9.86%, #8000ff 104.95%);
	border-radius: 120px;
	margin-bottom: 42px;
}

/* PERSON */

.person-title {
	font-size: 55px;
	font-weight: 800;
	line-height: 63.357px; /* 115.195% */
	margin-bottom: 39px;
	max-width: 156px;
	color: red;
}

.person-desc {
	max-width: 679px;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.36px;
	margin-bottom: 54px;
}

.person-btn {
	font-size: 21.38px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	background: #fff;
	border-radius: 50px;

	color: #000;
	padding: 16px 30px;
	margin-bottom: 48px;
}
