.avatar-wrapper {
	background: linear-gradient(138deg, #ff8660 9.86%, #8000ff 104.95%);
	border-radius: 120px;
	margin-bottom: 42px;
}

/* PERSON */

.person-title {
	/* font-size: 55px; */
	line-height: 63.357px;
	margin-bottom: 39px;
}

.person-desc {
	max-width: 679px;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.36px;
	margin-bottom: 54px;
}

.person-btn {
	font-size: 21.38px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	background: #fff;
	border-radius: 50px;

	color: #000;
	padding: 16px 30px;
	margin-bottom: 48px;
	transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

.person-btn:hover {
	background-color: #173571;
	color: #fff;
}

.person-btn:focus {
	opacity: 80%;
}

.person-btn:active {
	outline: 1px solid rgb(0, 26, 255);
	opacity: 60%;
}

.text_me {
	color: #fff;
}

/* STACK - ICON */

.person-skills:hover {
	transform: translateY(5px);
	transition: transform 0.3s ease-in-out;
}

.experience__content {
	background: red;
}
