/* .card-item {
	position: relative;
	padding: 15.5em 1.5em 0.95em 1.5em;
	background: #242424;
	max-width: 390px;
	width: calc((100% - 20px) / 2);
	border-radius: 15px;
	border-top-left-radius: 25px;
	transition: 0.2s ease;
}

.card-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/css.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 235px;
}

.card-text {
	color: #ffe0e3;
}

.card-item:hover {
	background: #0e3b6c;
}

.card-item:hover .card-text,
.card-link {
	color: #fff;
}

.card-link:focus {
	outline: 1px solid #71a7e2;
	outline-offset: 2px;
	color: #5badff;
}

.card-link:active {
	outline: none;
} */
