.contacts-text {
	text-align: center;
	outline: 1px solid #616161;
	border-radius: 10px;
	padding: 15px 10px;
	width: 100%;
	color: #fff;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contacts-text:hover {
	background-color: #666666;
	outline: none;
	color: rgb(255, 255, 255);
}

.contacts-text:focus {
	background-color: #666666;
	outline: none;
	color: rgb(255, 255, 255);
}

.contacts-text:hover:active {
	color: #d4ecff;
}
