@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
	outline: 0;
}

body {
	box-sizing: border-box;
	background-color: #454040;
	color: #fff;
	font-family: "Inter", "Roboto", sans-serif;
}

a {
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease-in-out;
}

.container {
	max-width: 1920px;
	/* padding: 0 75px; */
	margin: 0 auto;
}

.sections {
	padding-top: 3.375em;
	padding-bottom: 3.375em;
}

.sections-title {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 800;
	max-width: 656px;
}

.sections-desc {
	color: #f3f3f3;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	max-width: 43em;
	line-height: normal;
	letter-spacing: 0.36px;
}

/* Медиа-запросы */

@media screen and (min-width: 1367px) and (max-width: 1920px) {
	.container {
		max-width: 1920px;
		padding: 0 75px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
	.container {
		padding: 0 50px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		padding: 0 30px;
	}
}

@media screen and (min-width: 567px) and (max-width: 767px) {
	.container {
		padding: 0 25px;
	}
}

@media screen and (min-width: 50px) and (max-width: 566px) {
	.container {
		padding: 0 20px;
	}
}
