@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------------------------Global Styles--------------------------------------- */

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat-Bold"),
		url("./Fonts/Montserrat-Bold.woff") format("woff"),
		url("./Fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat-SemiBold"),
		url("./Fonts/Montserrat-SemiBold.woff") format("woff"),
		url("./Fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat-Regular") url("./Fonts/Montserrat-Regular.woff")
			format("woff"),
		url("./Fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus-visible {
	outline: 0;
}

body {
	box-sizing: border-box;
	background-color: #454040;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

a {
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
input,
textarea,
select,
button {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}

:root {
	--child-offset: 20px;
	--desc-color: #f3f3f3;
	--sections--offset: 54px;
	--text-white: #fff;
	--text-black: #000;
	--text-red: rgba(255, 139, 139, 0.886);
}

/* -----------------------------Global Styles--------------------------------------- */

/* -----------------------------Custom Classes--------------------------------------- */

.container {
	max-width: 1920px;
	padding: 0 75px;
	margin: 0 auto;
}

.sections {
	padding-top: var(--sections--offset);
	padding-bottom: var(--sections--offset);
}

.sections-title {
	font-size: 1.4rem;
	color: var(--text-white);
	font-weight: 800;
	max-width: 656px;
}

.sections-desc {
	color: var(--desc-color);
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	max-width: 43em;
	line-height: normal;
	letter-spacing: 0.36px;
}

/* --------------------------------MEDIA-Запросы------------------------------------------------------------- */
@media screen and (min-width: 1367px) and (max-width: 1920px) {
	.container {
		max-width: 1920px;
		padding: 0 75px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
	.container {
		padding: 0 50px;
	}

	.sections {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		padding: 0 30px;
	}

	.sections {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

@media screen and (min-width: 567px) and (max-width: 767px) {
	.container {
		padding: 0 25px;
	}

	.sections {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media screen and (min-width: 50px) and (max-width: 566px) {
	.sections {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.container {
		padding: 0 10px;
	}

	/* Slider */
	.mySwiper {
		max-width: 300px;
		width: 100%;
	}

	/* PersonPage */
	.person__btn-email {
		order: 1;
	}

	.person-skills {
		object-fit: contain;
		/* width: calc((100% - 1rem) / 2); */
	}

	/* Slider */
	.slider__content {
		max-width: 492px;
	}
}
