@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-family: "Inter", "Roboto", sans-serif;
}

a {
	cursor: pointer;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.sections {
	padding-top: 3.375em;
	padding-bottom: 3.375em;
}

.sections-title {
	color: #fff;
	font-weight: 800;
	max-width: 656px;
}

.sections-desc {
	color: #f3f3f3;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	max-width: 43em;
	line-height: normal;
	letter-spacing: 0.36px;
}

/* Navigation */
