/* Медиа-запросы */

@media screen and (min-width: 1367px) and (max-width: 1920px) {
	.container {
		max-width: 1920px;
		padding: 0 75px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
	.container {
		padding: 0 50px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		padding: 0 30px;
	}
}

@media screen and (min-width: 567px) and (max-width: 767px) {
	.container {
		padding: 0 25px;
	}
}

@media screen and (min-width: 50px) and (max-width: 566px) {
	.sections {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.container {
		padding: 0 10px;
	}

	/* PersonPage */

	.person__btn-email {
		order: 1;
	}

	.person-skills {
		object-fit: contain;
		width: calc((100% - 1rem) / 2);
	}
}
