/* --------------------------------MEDIA-Запросы------------------------------------------------------------- */

@media screen and (min-width: 1367px) and (max-width: 1920px) {
	.container {
		padding: 0 75px;
	}

	.text__content {
		flex-direction: column;
	}
	/* .experience__card {
		flex-direction: column;
		flex-wrap: nowrap;
	} */
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
	.sections {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.container {
		padding: 0 30px;
	}

	.sections {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.footer-content {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 567px) and (max-width: 767px) {
	.container {
		padding: 0 25px;
	}

	.sections {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	/* Footer */
	.footer-content {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 50px) and (max-width: 566px) {
	/* Global  */
	.sections {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.container {
		padding: 0 10px;
	}

	/* Navbar */
	.links {
		align-items: flex-end;
		gap: 6px;
	}

	/* Slider */
	.mySwiper {
		max-width: 300px;
		width: 100%;
	}

	/* PersonPage */
	.person__btn-email {
		order: 1;
	}

	.person-skills {
		object-fit: contain;
	}

	/* Slider */
	.slider__content {
		max-width: 492px;
	}

	/* Footer */

	.footer-content {
		justify-content: center;
		padding: 10px 0 20px 0;
		gap: 15px;
	}

	.footer {
		padding-top: 10px;
	}
}
