.mySwiper {
	display: flex;
	max-width: 800px;
	width: 100%;
	border-radius: 30px;
	/* background-color: rgba(255, 255, 255, 0.956); */
	filter: blur(3px);
	transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
	/* position: relative; */
}

.mySwiper:hover {
	filter: none;
	/* background: var(--text-red); */
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	align-items: center;
}

.slider_img {
	display: block;
	max-width: 800px;
	width: 100%;
	max-height: 600px;
	height: auto;
	min-height: 400px;
	object-fit: cover;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-next {
	color: orange;
	background-image: url("./next-icon.svg");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 50px;
	width: 100%;
	min-height: 50px;
	right: 10%;
	top: 50%;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-prev {
	background-image: url("./left-icon.svg");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 50px;
	width: 100%;
	min-height: 50px;
	right: 10%;
	top: 50%;
	left: 10%;
}
