.mySwiper {
	display: flex;
	width: 80%;
	border-radius: 30px;
	background: rgb(213, 210, 210);
	filter: blur(4px);
	transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
	position: relative;
}

.mySwiper:hover {
	filter: none;
	background: rgba(250, 245, 245, 0.886);
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	align-items: center;
}

.slider_img {
	display: block;
	max-width: 400px;
	object-fit: cover;
	width: 100%;
	min-height: 400px;
	object-fit: cover;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-next {
	/* position: absolute; */
	color: orange;
	background-image: url("./next-icon.svg");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	right: 10%;
	top: 50%;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-prev {
	background-image: url("./left-icon.svg");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	right: 10%;
	top: 50%;
	left: 10%;
}
